EVOLUTION_BASE_URL=http://localhost:8080
EVOLUTION_INSTANCE=MyInstance
EVOLUTION_TOKEN=mysecrettoken
WHATSAPP_GROUP_ID=120363000000000000@g.us

GOOGLE_SHEETS_ID=https://docs.google.com/spreadsheets/d/14FCgKaHw8taQeMTqxez7nbgCQIya3D9nl_WN9Z7Kqec/edit?usp=sharing
GOOGLE_WORKSHEET_INVENTARIO=Inventario
GOOGLE_WORKSHEET_HISTORICO=Historico
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=credentials.json


LOG_LEVEL=INFO
