EVOLUTION_BASE_URL=http://localhost:8080
EVOLUTION_INSTANCE=MyInstance
EVOLUTION_TOKEN=mysecrettoken
WHATSAPP_GROUP_ID=120363000000000000@g.us

GOOGLE_SHEETS_ID=https://docs.google.com/spreadsheets/d/14FCgKaHw8taQeMTqxez7nbgCQIya3D9nl_WN9Z7Kqec/edit?usp=sharing
GOOGLE_WORKSHEET_INVENTARIO=Inventario
GOOGLE_WORKSHEET_HISTORICO=Historico
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=credentials.json


LOG_LEVEL=INFO
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cacalog
AUTHENTICATION_API_KEY=sua_chave_api_aqui
WEBHOOK_TOKEN=seu_token_webhook_aqui
